$icomoon-font-family: "feathericon" !default;
$icomoon-font-path: "~@/assets/fonts/feathericons" !default;

$fi-timeline: "\ea21";
$fi-storyline: "\ea22";
$fi-story-plus: "\ea1c";
$fi-stories-text: "\ea1d";
$fi-stories-media-2: "\ea1e";
$fi-stories-text-2: "\ea1f";
$fi-stories-media: "\ea20";
$fi-story-text: "\e900";
$fi-story-media: "\e901";
$fi-gong-full: "\e902";
$fi-gong-square: "\e903";
$fi-activity: "\e904";
$fi-airplay: "\e905";
$fi-alert-circle: "\e906";
$fi-alert-octagon: "\e907";
$fi-alert-triangle: "\e908";
$fi-align-center: "\e909";
$fi-align-justify: "\e90a";
$fi-align-left: "\e90b";
$fi-align-right: "\e90c";
$fi-anchor: "\e90d";
$fi-aperture: "\e90e";
$fi-archive: "\e90f";
$fi-arrow-down-circle: "\e910";
$fi-arrow-down-left: "\e911";
$fi-arrow-down-right: "\e912";
$fi-arrow-down: "\e913";
$fi-arrow-left-circle: "\e914";
$fi-arrow-left: "\e915";
$fi-arrow-right-circle: "\e916";
$fi-arrow-right: "\e917";
$fi-arrow-up-circle: "\e918";
$fi-arrow-up-left: "\e919";
$fi-arrow-up-right: "\e91a";
$fi-arrow-up: "\e91b";
$fi-at-sign: "\e91c";
$fi-award: "\e91d";
$fi-bar-chart-2: "\e91e";
$fi-bar-chart: "\e91f";
$fi-battery-charging: "\e920";
$fi-battery: "\e921";
$fi-bell-off: "\e922";
$fi-bell: "\e923";
$fi-bluetooth: "\e924";
$fi-bold: "\e925";
$fi-book-open: "\e926";
$fi-book: "\e927";
$fi-bookmark: "\e928";
$fi-box: "\e929";
$fi-briefcase: "\e92a";
$fi-calendar: "\e92b";
$fi-camera-off: "\e92c";
$fi-camera: "\e92d";
$fi-cast: "\e92e";
$fi-check-circle: "\e92f";
$fi-check-square: "\e930";
$fi-check: "\e931";
$fi-chevron-down: "\e932";
$fi-chevron-left: "\e933";
$fi-chevron-right: "\e934";
$fi-chevron-up: "\e935";
$fi-chevrons-down: "\e936";
$fi-chevrons-left: "\e937";
$fi-chevrons-right: "\e938";
$fi-chevrons-up: "\e939";
$fi-chrome: "\e93a";
$fi-circle: "\e93b";
$fi-clipboard: "\e93c";
$fi-clock: "\e93d";
$fi-cloud-drizzle: "\e93e";
$fi-cloud-lightning: "\e93f";
$fi-cloud-off: "\e940";
$fi-cloud-rain: "\e941";
$fi-cloud-snow: "\e942";
$fi-cloud: "\e943";
$fi-code: "\e944";
$fi-codepen: "\e945";
$fi-codesandbox: "\e946";
$fi-coffee: "\e947";
$fi-columns: "\e948";
$fi-command: "\e949";
$fi-compass: "\e94a";
$fi-copy: "\e94b";
$fi-corner-down-left: "\e94c";
$fi-corner-down-right: "\e94d";
$fi-corner-left-down: "\e94e";
$fi-corner-left-up: "\e94f";
$fi-corner-right-down: "\e950";
$fi-corner-right-up: "\e951";
$fi-corner-up-left: "\e952";
$fi-corner-up-right: "\e953";
$fi-cpu: "\e954";
$fi-credit-card: "\e955";
$fi-crop: "\e956";
$fi-crosshair: "\e957";
$fi-database: "\e958";
$fi-delete: "\e959";
$fi-disc: "\e95a";
$fi-dollar-sign: "\e95b";
$fi-download-cloud: "\e95c";
$fi-download: "\e95d";
$fi-droplet: "\e95e";
$fi-edit-2: "\e95f";
$fi-edit-3: "\e960";
$fi-edit: "\e961";
$fi-external-link: "\e962";
$fi-eye-off: "\e963";
$fi-eye: "\e964";
$fi-facebook: "\e965";
$fi-fast-forward: "\e966";
$fi-feather: "\e967";
$fi-figma: "\e968";
$fi-file-minus: "\e969";
$fi-file-plus: "\e96a";
$fi-file-text: "\e96b";
$fi-file: "\e96c";
$fi-film: "\e96d";
$fi-filter: "\e96e";
$fi-flag: "\e96f";
$fi-folder-minus: "\e970";
$fi-folder-plus: "\e971";
$fi-folder: "\e972";
$fi-framer: "\e973";
$fi-frown: "\e974";
$fi-gift: "\e975";
$fi-git-branch: "\e976";
$fi-git-commit: "\e977";
$fi-git-merge: "\e978";
$fi-git-pull-request: "\e979";
$fi-github: "\e97a";
$fi-gitlab: "\e97b";
$fi-globe: "\e97c";
$fi-grid: "\e97d";
$fi-hard-drive: "\e97e";
$fi-hash: "\e97f";
$fi-headphones: "\e980";
$fi-heart: "\e981";
$fi-help-circle: "\e982";
$fi-hexagon: "\e983";
$fi-home: "\e984";
$fi-image: "\e985";
$fi-inbox: "\e986";
$fi-info: "\e987";
$fi-instagram: "\e988";
$fi-italic: "\e989";
$fi-key: "\e98a";
$fi-layers: "\e98b";
$fi-layout: "\e98c";
$fi-life-buoy: "\e98d";
$fi-link-2: "\e98e";
$fi-link: "\e98f";
$fi-linkedin: "\e990";
$fi-list: "\e991";
$fi-loader: "\e992";
$fi-lock: "\e993";
$fi-log-in: "\e994";
$fi-log-out: "\e995";
$fi-mail: "\e996";
$fi-map-pin: "\e997";
$fi-map: "\e998";
$fi-maximize-2: "\e999";
$fi-maximize: "\e99a";
$fi-meh: "\e99b";
$fi-menu: "\e99c";
$fi-message-circle: "\e99d";
$fi-message-square: "\e99e";
$fi-mic-off: "\e99f";
$fi-mic: "\e9a0";
$fi-minimize-2: "\e9a1";
$fi-minimize: "\e9a2";
$fi-minus-circle: "\e9a3";
$fi-minus-square: "\e9a4";
$fi-minus: "\e9a5";
$fi-monitor: "\e9a6";
$fi-moon: "\e9a7";
$fi-more-horizontal: "\e9a8";
$fi-more-vertical: "\e9a9";
$fi-mouse-pointer: "\e9aa";
$fi-move: "\e9ab";
$fi-music: "\e9ac";
$fi-navigation-2: "\e9ad";
$fi-navigation: "\e9ae";
$fi-octagon: "\e9af";
$fi-package: "\e9b0";
$fi-paperclip: "\e9b1";
$fi-pause-circle: "\e9b2";
$fi-pause: "\e9b3";
$fi-pen-tool: "\e9b4";
$fi-percent: "\e9b5";
$fi-phone-call: "\e9b6";
$fi-phone-forwarded: "\e9b7";
$fi-phone-incoming: "\e9b8";
$fi-phone-missed: "\e9b9";
$fi-phone-off: "\e9ba";
$fi-phone-outgoing: "\e9bb";
$fi-phone: "\e9bc";
$fi-pie-chart: "\e9bd";
$fi-play-circle: "\e9be";
$fi-play: "\e9bf";
$fi-plus-circle: "\e9c0";
$fi-plus-square: "\e9c1";
$fi-plus: "\e9c2";
$fi-pocket: "\e9c3";
$fi-power: "\e9c4";
$fi-printer: "\e9c5";
$fi-radio: "\e9c6";
$fi-refresh-ccw: "\e9c7";
$fi-refresh-cw: "\e9c8";
$fi-repeat: "\e9c9";
$fi-rewind: "\e9ca";
$fi-rotate-ccw: "\e9cb";
$fi-rotate-cw: "\e9cc";
$fi-rss: "\e9cd";
$fi-save: "\e9ce";
$fi-scissors: "\e9cf";
$fi-search: "\e9d0";
$fi-send: "\e9d1";
$fi-server: "\e9d2";
$fi-settings: "\e9d3";
$fi-share-2: "\e9d4";
$fi-share: "\e9d5";
$fi-shield-off: "\e9d6";
$fi-shield: "\e9d7";
$fi-shopping-bag: "\e9d8";
$fi-shopping-cart: "\e9d9";
$fi-shuffle: "\e9da";
$fi-sidebar: "\e9db";
$fi-skip-back: "\e9dc";
$fi-skip-forward: "\e9dd";
$fi-slack: "\e9de";
$fi-slash: "\e9df";
$fi-sliders: "\e9e0";
$fi-smartphone: "\e9e1";
$fi-smile: "\e9e2";
$fi-speaker: "\e9e3";
$fi-square: "\e9e4";
$fi-star: "\e9e5";
$fi-stop-circle: "\e9e6";
$fi-sun: "\e9e7";
$fi-sunrise: "\e9e8";
$fi-sunset: "\e9e9";
$fi-tablet: "\e9ea";
$fi-tag: "\e9eb";
$fi-target: "\e9ec";
$fi-terminal: "\e9ed";
$fi-thermometer: "\e9ee";
$fi-thumbs-down: "\e9ef";
$fi-thumbs-up: "\e9f0";
$fi-toggle-left: "\e9f1";
$fi-toggle-right: "\e9f2";
$fi-trash-2: "\e9f3";
$fi-trash: "\e9f4";
$fi-trello: "\e9f5";
$fi-trending-down: "\e9f6";
$fi-trending-up: "\e9f7";
$fi-triangle: "\e9f8";
$fi-truck: "\e9f9";
$fi-tv: "\e9fa";
$fi-twitter: "\e9fb";
$fi-type: "\e9fc";
$fi-umbrella: "\e9fd";
$fi-underline: "\e9fe";
$fi-unlock: "\e9ff";
$fi-upload-cloud: "\ea00";
$fi-upload: "\ea01";
$fi-user-check: "\ea02";
$fi-user-minus: "\ea03";
$fi-user-plus: "\ea04";
$fi-user-x: "\ea05";
$fi-user: "\ea06";
$fi-users: "\ea07";
$fi-video-off: "\ea08";
$fi-video: "\ea09";
$fi-voicemail: "\ea0a";
$fi-volume-1: "\ea0b";
$fi-volume-2: "\ea0c";
$fi-volume-x: "\ea0d";
$fi-volume: "\ea0e";
$fi-watch: "\ea0f";
$fi-wifi-off: "\ea10";
$fi-wifi: "\ea11";
$fi-wind: "\ea12";
$fi-x-circle: "\ea13";
$fi-x-octagon: "\ea14";
$fi-x-square: "\ea15";
$fi-x: "\ea16";
$fi-youtube: "\ea17";
$fi-zap-off: "\ea18";
$fi-zap: "\ea19";
$fi-zoom-in: "\ea1a";
$fi-zoom-out: "\ea1b";
